<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista</title>
    <style>
      table, td, tr{
        border: 15px;
        border-color: aqua;
      }
    </style>
</head>
<body>
    <a href="/number/add">Voltar</a>
    <table class="table" style="border: 15px;">
        <thead>
          <tr>
            <th scope="col">Número 1</th>
            <th scope="col">Número 2</th>
            <th scope="col">Operação</th>
            <th scope="col">Resultado</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
           
            <td><%=nUm%></td>
            <td><%=nDois%></td>
            <td><%=operacao%></td>
            <td><%=msg%></td>
          </tr>
        </tbody>
      </table>
   
</body>
</html>